
.container {
    width: 40%;
    height: 125px;
    border: 2px solid seagreen;
    background-color: lightgrey;
    opacity: 75%;
    padding: 20px;
    padding-top: 0px;
    margin: 8px;
    text-align: center;
    border-bottom-left-radius: 54px;
    border-top-right-radius: 54px;
}

.add {
    font-weight: bolder;
    font-size: 20px;

}


#go {
    font-weight: bolder;
    padding: 5px;
    background-color: #ffff0094;
    margin: 10px;
}

.input {
    width: 195px;
    height: 30px;
    background-color: aliceblue;

}

.fa-thumbs-up {
    color: black;
}
