
.container {
    width: 200px;
    height: 125px;
    border: 2px solid seagreen;
    background-color: lightgrey;
    opacity: 75%;
    padding: 20px;
    padding-top: 0px;
    margin: 50px;
    text-align: center;
}

.add {
    font-weight: bolder;
    font-size: 20px;

}


#go {
    font-weight: bolder;
    padding: 5px;
    background-color: #ffff0094;
    margin: 10px;
}

.input {
    width: 200px;

}

.fa-thumbs-up {
    color: black;
}
