body {

    background-color: darkseagreen;
    margin: 8px;

}

nav {
    background-color: seagreen;
    height: 50px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: lightgrey;
    padding: 8px;

}
#chau {
    text-align: center;
    font-family: cursive;
    color: seagreen;
    font-size: 18px;
    font-weight: bolder;
}