
.titleTask {
    font-weight: bolder;
    font-size: 20px;

}

.task {

    width: 200px;
    height: 125px;
    border: 2px solid seagreen;
    background-color: lightgrey;
    opacity: 75%;
    padding: 20px;
    padding-top: 0px;
    margin: 50px;
    text-align: center;

}
.delete{
    background-color: lightcoral;
    font-weight: bolder;
    padding: 5px;
}
.done{
    font-weight: bolder;
    padding: 5px;
    background-color: #48c9a5;

}
i{
    padding: 2px;
}
.titleTask{
    font-weight: bolder;
    font-variant: all-small-caps;
}